h1 {
		font-weight: 700;
}
h2 {
		font-weight: 600;
}
h3 {
		font-weight: 500;
}
h4 {
		font-size: 18px;
}
h5 {
		font-weight: 600;
}
p {
		font-weight: 400;
		line-height: 20px;
		text-align: distribute;
}
body, html {
    font-family: "Arial", sans-serif;
		font-weight: 400;
		line-height: 20px;
		margin-left:5%;
		margin-right:5%;
		margin-bottom:5%;
		margin-top:1%;
		text-align: justify;
}

blockquote {
		font-style: normal;
		font-variant: normal;
		font-weight: 400;
		line-height: 30px;
}
pre {
}

/* This text is in Palatino */
.class { 
}

#toc_container {
		background: #f9f9f9 none repeat scroll 0 0;
		border: 1px solid #aaa;
		display: table;
		font-size: 95%;
		margin-bottom: 1em;
		padding: 20px;
		width: auto;
		text-align: left;
}

.toc_title {
		font-weight: 700;
		text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
		list-style: square outside none;
}

img {
		width: 100%;
}

#toc a:active {
		color: black;
}
#toc a:hover {
		text-decoration: underline;
		cursor: pointer;
}
#toc {
		text-decoration: none;
		display: table;
		width: auto;
		text-align: left;
}
#toc a{
		text-decoration: none;
}
#toc div.h1 { 
		font-weight: 900;
		margin-left: 0;
		font-size: 110%;
}
#toc div.h2 { 
		font-weight: 700;
		margin-left: 0em;
}
#toc div.h3 { 
		margin-left: 1em;
		font-weight: 700;
		font-size: 97%;
}
#toc div.h4 { 
		margin-left: 2em;
		font-size: 94%;
}
#toc div.h5 { 
		margin-left: 3em;
		font-size: 91%;
}

figure {}
figure img {}
figure figcaption {
		caption-side: top;
		text-align: center;
}

* {
		box-sizing: border-box;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Add a card effect for articles */
.card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

td{
		vertical-align: top;
		text-align: left;
		table-layout: fixed;
		width: 50%;
}

div{
}

th {
		font-size: 16px;
}

hr {
		border-top: 1px solid #8c8b8b;
}

a {
  outline: none;
  text-decoration: none;
	color: #000099;
}

a:focus {
  border-bottom: 1px solid;
}

a:hover {
  border-bottom: 1px solid;
}

.sturdy td:nth-child(1) {
  width: 20%;
} 
.sturdy td:nth-child(2) {
  width: 80%;
} 

ul {
		list-style-type: square;
}

html *
{
   font-family: "Computer Modern" sans-serif !important;
}
